@model CashControl.Context.Chef
@{

}

<style>
    .error {
        color: red;
    }
</style>

@using (Html.BeginForm("AddChef", "Chef", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <label>ChefId</label>
            @Html.ValidationMessageFor(x => x.ID, "", new { @class = "error" })
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <label>Name</label>
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "error" })
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.HiddenFor(x => x.ID)
            <label>BirthYear</label>
            @Html.ValidationMessageFor(x => x.BirthYear, "", new { @class = "error" })
            @Html.TextBoxFor(x => x.BirthYear, new { @class = "form-control" })
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
        </div>
    </div>

}