@model List<CashControl.Context.Player>

@{
    ViewData["Title"] = "Player List";
}

<div class="container">
    <h2>Player List</h2>

    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th><a asp-action="PlayerList" asp-route-sortOrder="@ViewBag.NameSortParam">Name</a></th>
                <th><a asp-action="PlayerList" asp-route-sortOrder="@ViewBag.BirthYearSortParam">BirthYear</a></th>
                <th><a asp-action="PlayerList" asp-route-sortOrder="@ViewBag.TeamSortParam">Team</a></th>
                <th>Number</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BirthYear</td>
                    <td>
                        <a href="javascript:void(0);" class="team-filter" data-teamid="@item.Team_ID">@item.AssociatedTeam.Name</a>
                    </td>
                    <td>@item.Number</td>
                    <td>@item.Team_ID</td>
                    <td>
                        <a href="@Url.Action("Team", new { item.ID, item.Name, item.Number, item.BirthYear, item.Team_ID })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", new { item.ID })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div id="player-list">
    <!-- This is where the filtered player list will be displayed -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".team-filter").click(function () {
            var teamId = $(this).data("teamid");

            // Send an AJAX request to fetch players from the selected team
            $.ajax({
                url: "@Url.Action("FilterPlayersByTeam", "Player")",
                type: "GET",
                data: { teamId: teamId },
                success: function (data) {
                    // Update the player list with the filtered data
                    $("#player-list").html(data);
                },
                error: function () {
                    alert("Error occurred while fetching players.");
                }
            });
        });
    });
</script>